<div class="jumbotron jumbotron-fluid smaller-padding-jumbotron">
  <div class="container">
    <h1 class="display-4">Strona główna</h1>
    <p class="lead">Przeglądaj aktualnie aktywne projekty</p>
  </div>
</div>

<!-- <h2>Ostatnio aktywne taski</h2>
<div>
  <div *ngFor="let task of recentTodoTasks" class="info-box">
    <div class="info-box-main-text">
      {{task.content}}
    </div>
    <div class="info-box-additional-info">
      Project name
    </div>
  </div>
</div> -->
<div *ngIf="recentProjects && recentProjects.length>0">
  <h2>Ostatnio aktywne projekty</h2>
  <div>
    <a *ngFor="let project of recentProjects" routerLink="/project/{{project.id}}" class="info-box">
      <div class="info-box-main-text">
        <span>{{project.name}}</span>
      </div>
      <div class="info-box-additional-info">
        Projekt
      </div>
    </a>
  </div>
</div>
<div *ngIf="!recentProjects || recentProjects.length==0">
  <h2>Brak aktywnych projektów</h2>
</div>
<hr/>
<input [(ngModel)]="newProjectName" type="text" />
<button (click)="createNewProject()" class="btn btn-success">Dodaj nowy projekt</button>
<!-- <h2>Zapisane linki</h2>
<ul>
  <li *ngFor="let link of linksToRead">
    <a href="{{link.url}}">{{link.description}}</a>
  </li>
</ul> -->