<div class="modal-header">
  <h4 class="modal-title pull-left">{{taskName}}</h4>
  <button class="btn btn-default" (click)="editModeEnabled=!editModeEnabled">Toggle edit mode</button>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf="taskObject" class="modal-body">
  <markdown *ngIf="!editModeEnabled">
    {{taskObject.details}}
  </markdown>
  <div *ngIf="!editModeEnabled">
    No markdown interpreter:
    {{taskObject.details}}
  </div>
  <textarea #taskEditTextarea class="editTaskContentContainer" [hidden]="!editModeEnabled" (focus)="textareaAdjust()" [(ngModel)]="taskObject.details" (keyup)="textareaAdjust()"></textarea>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="saveChanges()">Save</button>
</div>