<div *ngIf="project">
    <h1>{{project.name}}</h1>
    <div *ngFor="let ltg of longTermGoals">
        -{{ltg.name}}
        <div *ngFor="let column of getColumnsForLTG(ltg.id)">
            --{{column.name}}
            <div *ngFor="let task of getTasksForColumn(column.id)">
                ---{{task.content}}
            </div>
        </div>
    </div>
    <h2>Saved links:</h2>
    <div *ngFor="let link of links">
        <ul>
            <li>{{link.description}}</li>
        </ul>
    </div>
</div>