<div *ngIf="project">
    <h1>{{project.name}}</h1>
    <input [(ngModel)]="newLongTermGoal.name" (keyup.enter)="createNewLTG()" placeholder="Create new LTG">

    <div *ngFor="let ltg of longTermGoals">
        <div *ngIf="ltg.archived">Item succesfully archived. You can restore it in "Archive" section</div>
        <div *ngIf="!ltg.archived">
            <h3>{{ltg.name}}</h3>
            <button (click)="addToArchive(ltg.id)">Add to archive</button>
            <div class="container">
                <div class="row">
                    <div class="col ltg-column-parent" *ngFor="let column of getLocallyStoredColumnsForLTG(ltg.id)">
                        {{column.name}}
                        <div class="ltg-column-inside" [dragula]='"bagOne"' [attr.columnid]="column.id">
                            <div *ngFor="let task of getTasksForColumn(column.id)" class="task-box" [attr.taskid]="task.id" (click)="openTaskDetails(task.id, task.content)">
                                {{task.content}}
                            </div>

                            <div class="task-box" [hidden]="columnWhereNewTaskIdIsBeingCreated!=column.id">
                                {{temporaryTask.content}}
                                <input #tempTaskInput [attr.columnid]="column.id" [(ngModel)]="temporaryTask.content" (keyup.enter)="saveTempTask(column.id)"
                                    (blur)="abandonTempTask()" type="text" />
                            </div>
                        </div>
                        <div class="task-table-bottom-buttons">
                            <button (click)="newTemporaryTask($event, column.id)">+</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <h2>Saved links:</h2>
    <div *ngFor="let link of links">
        <ul>
            <li>{{link.description}}</li>
        </ul>
    </div>
</div>