.ltg-column-parent {
    margin: 1px;
    padding: 0;
    padding-bottom: 1rem;
}

.ltg-column-inside {
    background-color: rgb(219, 219, 219);
    height: 100%;
    /* border: white solid 1px; */
}

.task-box {
    width: 10rem;
    height: 6rem;
    color: black; 
    background-color: white;
    border: 1px solid lightgray;
    border-left: 7px solid yellow;
    padding-left: 1rem;
    padding-top: 1rem;
}

.dropdown-task-container {
    min-height: 2rem;
}