.ltg-column-parent {
    margin-bottom: 2rem;
    padding: 0;
    padding-bottom: 1rem;
}

.ltg-column-inside {
    background-color: rgb(219, 219, 219);
    height: 100%;
    min-height: 95px;
    vertical-align: top;
    /* max-width: 600px; */
    /* border: white solid 1px; */
}

.task-box {
    width: 10rem;
    height: 6rem;
    color: black; 
    background-color: white;
    border: 1px solid lightgray;
    border-left: 7px solid yellow;
    padding: 1rem 1rem; /*top-bottom, left-right*/
    display: inline-block;
    overflow: auto;
    font-size: small;
    position: relative;
}

@media(max-width: 400px){
    .task-box{
        width: 92vw;
        height: auto;
    }
}

.task-table-bottom-buttons {
    height:  2rem;
    /* position: relative;
    bottom: 1rem; */
}

.temp-task-input {
    width: 90%;
    
}