<div *ngIf="project">
    <h1>{{project.name}}</h1>
    <input [(ngModel)]="newLongTermGoal.name" (keyup.enter)="createNewLTG()" placeholder="Create new LTG">

    <div *ngFor="let ltg of longTermGoals">
        <h3>{{ltg.name}}</h3>
        <div class="container">
            <div class="row">
                <div class="col" *ngFor="let column of getColumnsForLTG(ltg.id)">
                    {{column.name}}
                    <div class="ltg-column">
                        <div *ngFor="let task of getTasksForColumn(column.id)">
                            <div class="info-box">{{task.content}}</div>
                        </div>
                        <div [hidden]="columnWhereNewTaskIdIsBeingCreated!=column.id">
                            <div class="info-box">
                                {{temporaryTask.content}}
                                <input #tempTaskInput [attr.columnid]="column.id" [(ngModel)]="temporaryTask.content" (keyup.enter)="saveTempTask(column.id)" (blur)="abandonTempTask()" type="text" />
                            </div>
                        </div>
                        <button (click)="newTemporaryTask($event, column.id)">+</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <h2>Saved links:</h2>
    <div *ngFor="let link of links">
        <ul>
            <li>{{link.description}}</li>
        </ul>
    </div>
</div>